<div mat-dialog-content class="dialog-content">
    <p>Adauga un cont nou de instructor</p>
    <form [formGroup]="addForm" class="form">
        <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@example.com" formControlName="email" required>
            <mat-error >Email invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Parola</mat-label>
            <input matInput 
                     [type]="hidePass ? 'password' : 'text'" 
                     formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error >Minim 6 caractere, o litera mare, o litera mica, un caracter special</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Confirma Parola</mat-label>
            <input matInput 
                     [type]="hidePassConf ? 'password' : 'text'" 
                     formControlName="passwordConfirm" required>
            <button mat-icon-button matSuffix (click)="hidePassConf = !hidePassConf">
                <mat-icon>{{hidePassConf ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error >Minim 6 caractere, o litera mare, o litera mica, un caracter special</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Nume</mat-label>
            <input matInput formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prenume</mat-label>
            <input matInput formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Gen</mat-label>
            <mat-select [(value)]="selectedGender" placeholder="Gen" required>
              <mat-option value="male">Masculin</mat-option>
              <mat-option value="female">Feminin</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Adresa</mat-label>
            <input matInput formControlName="address" required>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Data nasterii</mat-label>
            <input matInput type="datetime" [matDatepicker]="picker" formControlName="birthDate" (click)="picker.open()" required>
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numar telefon</mat-label>
            <input matInput formControlName="phone" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error>Numarul incepe cu 07 si are 10 cifre in total</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Salar</mat-label>
            <input matInput type="number" formControlName="salary">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Data angajarii</mat-label>
            <input matInput type="datetime" [matDatepicker]="picker2" formControlName="hireDate" (click)="picker2.open()" required>
            <mat-datepicker-toggle matSuffix [for]="picker2">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </form>
    <p>Selecteaza categoriile:</p>
    <div>
        <mat-selection-list  [(ngModel)]="categoryList" color="primary">
            <mat-list-option *ngFor="let category of data.categories" [value]="category">
              {{category.name}}
            </mat-list-option>
          </mat-selection-list>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button (click)="onNoClick()">Renunta</button>
    <button mat-stroked-button [disabled]="!addForm.valid" (click)="addInstructor()">Adauga instructor</button>
  </div>