<div>
    <section>
        <app-menu></app-menu>
    </section>
    
    <section class="contact-section">
        <ul class="container">
            <li class="item">
              <mat-card class="card">
                <mat-card-title>Contact</mat-card-title>
                <mat-card-content>
                    <p>Ne gasiti la sediul nostru de la adresa:</p>
                    <p>Strada Observatorului 1, Cluj-Napoca, Cluj</p>
                    <p>Romania</p>
                    <p>Orar: L-V 8-17</p>
                    <p>Numar de contact: +40 741 234 567</p>
                    <p>Adresa de email: contact@adrivingace.com</p>
                </mat-card-content>
              </mat-card>
            </li>
          </ul>
    </section>
    <section>
        <app-footer></app-footer>
    </section>
    
</div>