<div>
    <section>
        <app-menu></app-menu>
    </section>
    
    <section class="about-section">
        <h1>Despre noi</h1>
    </section>
    
    <section>
        <ul class="container">
            <li class="item">
              <mat-card class="card">
                <img mat-card-image src="{{imagePath}}">
              </mat-card>
            </li>
            <li class="item">
                <mat-card class="card">
                    <mat-card-title>Misiunea noastra</mat-card-title>
                    <p class="mission-text">Misiunea noastra este sa oferim servicii de calitate clientilor nostri. De peste 12 ani,
                        noi, echipa "A Driving Ace" asiguram tot sprijinul pentru obtinerea obiectivelor clientilor
                        si anume obtinerea carnetului de conducere. Suntem o echipa tanara cu rezultate deosebite, care 
                        doreste sa va cunoasca si va oferim o platforma e-learning pentru a va sprijini in procesul de invatare.  
                    </p>
                </mat-card>
            </li>
          </ul>
    </section>

    <section>
        <app-footer></app-footer>
    </section>
    
</div>